In [1]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [2]:
%matplotlib inline

In [3]:
# -*- coding: utf-8 -*-

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_path2 = './csv_data/memory.csv'
memory = pd.read_csv(file_path2) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path3 = './csv_data/cylinder(1500).csv'
cylinder = pd.read_csv(file_path3) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path4 = './csv_data/machine_component(8471).csv'
machine_component = pd.read_csv(file_path4) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path5 = './csv_data/printed_circuit_board.csv'
printed_circuit_board = pd.read_csv(file_path5) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path6 = './csv_data/solid_state.csv'
solid_state = pd.read_csv(file_path6) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
file_path7 = './csv_data/processor_&_controller.csv'
processor_controller = pd.read_csv(file_path7) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.

In [4]:
cylinder.head(5)

,Unnamed: 0.1,Unnamed: 0,Date,수출금액,수출금액증감률,수출중량,수출중량증감률,수입금액,수입금액증감률,수입중량,수입중량증감률
0,0,0,2007-01-01,1309986,11.0,163570024,6.7,47356,66.4,2654725,74.0
1,1,1,2007-02-01,1212834,12.2,153964692,7.8,30174,12.9,2024849,21.2
2,2,2,2007-03-01,2830428,13.7,354053138,9.5,106289,8.3,6381509,16.5
3,3,3,2007-04-01,2644614,15.4,332723566,11.1,95673,15.6,6059834,23.4
4,4,4,2007-05-01,4231892,14.8,529997355,11.2,168058,14.4,9904167,20.8

In [5]:
num=0
for i in cylinder["수출금액"]:
    
    a = (cylinder["수출금액"][num+1] -  cylinder["수출금액"][num])/ cylinder["수출금액"][num]
    cylinder["수출금액증감률"][num] = a*100
    print(cylinder["수출금액증감률"][num])
    num+=1

-7.41626246387366
133.37307496326784
-6.564872874349745
60.01926935272973
-4.601180748469006
35.423606853802475
-4.6085371760185305
26.988686805005095
2.7813755780345515
22.32973281792886
-0.7102366206465552
-82.08713849226325
-21.221788963724446
155.76241187940602
-7.3451664921830915
62.67389210524507
-3.6069268184877314
30.352408661743873
-3.3290158190890753
23.42249980963761
4.472306191240945
19.74270561547656
-0.9137987632105218
-89.77713478563308
17.853523118011523
86.5931141322158
12.375477255140305
35.977875506865715
14.551816830774515
21.841933237863294
3.3178626675007967
33.07614759023923
1.5901516373857512
28.964789564017458
-1.3220562931250994
-83.92781434975413
3.7998499381147584
128.743465806773
7.398985765026367
48.47394972720721
8.70939298610528
28.236737955987053
-0.7706043365008125
26.993501603960578
3.263616415250022
21.696724117670698
2.0782168815763638
-79.46415683242626
-22.194931299658318
166.68721251562565
-11.12523262457217
71.78709469180276
-0.9776411038861104
37.14437728152757
-5.600677077756874
32.445909306947804
-3.1621077196336778
27.16186075579267
-2.191107233591363
-85.20928629167383
34.00275419463218
80.57976213493102
9.410600445985144
39.060783978900325
10.351164963539956
18.96182227436506
-0.3176174397130195
22.34624106429389
1.08355731105289
21.515803653668552
-0.4740776998238906
-82.77296703328439
-12.784595487375666
124.69366455042929
-6.712351090421027
60.11607192186007
-2.295481683623358
33.0428202381167
-2.804521061141077
22.415630486211178
4.505482094785992
17.778844486144298
4.811141451394348
-83.303622344013
-3.017198772216191
116.19146588436536
0.3404696677602282
46.29359786646619
0.04450301222694777
33.484248726359134
-8.596934232824687
29.422662247650894
-3.733245294893417
26.460557994852397
-1.467005801848718
-85.55489637071462
-11.727334499146046
144.28965061297896
-3.6007345772951465
52.68498052629913
2.2047491380026667
29.448138908493448
-5.835666795032369
28.201895007247803
-2.9346704055635042
25.229205617504824
-0.8216741432677764
-86.5476253776193
-0.29250561401048525
140.31747256638488
-9.162315934981539
62.459126779820274
-2.178815730781096
34.16256276489697
-9.634255427537676
28.650806509485538
-2.3730866999264157
27.773733724813894
2.910818631090609
-87.49080899563141
11.765367321710707
106.18001108608377
2.1813101598460904
48.03590889914477
4.743978054234445
29.565172529597127
-4.670624195775208
31.834075283452474
-8.344897350200755
33.59661533252578
-11.75875887802066
-81.95299123333875
-19.95146581756559
166.26716822000017
-8.933274783372392
61.14675367292383
-5.314856197281521
36.799462148469054
-5.108361328347474
27.84295885300448
1.0514381243577697
22.168903753599185
-0.3273107290353441
-82.68177020324111
-19.617165048910195
151.51375285080704
-7.91017747615723
65.60950287872419
-6.273844525135379
41.639022108230876
-9.68990661806729
32.735931895023334
-3.5855784421468897
24.49813798231794
-2.7270258154998754
-86.60459230056298
-18.853058771265058
186.88009395852376
-39.19012479047238
90.81555755356622
-20.508538620834475
79.89611733994242
-23.18599389949083
71.79285931502598
-16.131401961487963
50.472937599420085
-16.620125715528296
-80.40309303951474
-1.8147890058255467
125.02610260221721
-3.0787982926931785
45.17604484369856
1.7355880218788995
31.206843337282898
-6.588416101810196
29.067529501820598
-1.9996390068449856
22.582927380333658
-0.286604343178712
-83.68386029709609
-13.002012274049143
118.66930028588176
-0.9841047971767717
55.6062678791045
-4.953051553361524
54.50038772496839
-10.260224314171875
42.70135507986523

/tmp/ipykernel_60199/3556990485.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cylinder["수출금액증감률"][num] = a*100

KeyError: 189

In [ ]:
cylinder = cylinder.drop(188)
cylinder

In [ ]:
memory.head(5)

In [ ]:
num=0
for i in memory["수출금액"]:
    
    a = (memory["수출금액"][num+1] -  memory["수출금액"][num])/ memory["수출금액"][num]
    memory["수출금액증감률"][num] = a*100
    print(memory["수출금액증감률"][num])
    num+=1
memory = memory.drop(188)
memory
memory.head(5)

In [ ]:
num=0
for i in machine_component["수출금액"]:
    
    a = (machine_component["수출금액"][num+1] -  machine_component["수출금액"][num])/ machine_component["수출금액"][num]
    machine_component["수출금액증감률"][num] = a*100
    print(machine_component["수출금액증감률"][num])
    num+=1

In [ ]:
machine_component = machine_component.drop(188)
machine_component

In [ ]:
num=0
for i in printed_circuit_board["수출금액"]:
    
    a = (printed_circuit_board["수출금액"][num+1] -  printed_circuit_board["수출금액"][num])/printed_circuit_board["수출금액"][num]
    printed_circuit_board["수출금액증감률"][num] = a*100
    print(printed_circuit_board["수출금액증감률"][num])
    num+=1

In [6]:
printed_circuit_board = printed_circuit_board.drop(188)
printed_circuit_board

,Unnamed: 0.1,Unnamed: 0,Date,수출금액,수출금액증감률,수출중량,수출중량증감률,수입금액,수입금액증감률,수입중량,수입중량증감률
0,0,0,2007-01-01,141552,15.3,1073290,2.3,122521,3.1,1272749,8.2
1,1,1,2007-02-01,127256,9.2,1052548,-1.0,107384,-7.1,1066942,-0.3
2,2,2,2007-03-01,287282,6.1,2475217,0.2,262532,-4.4,2664050,2.0
3,3,3,2007-04-01,266606,5.6,2412249,1.1,246416,0.5,2412933,4.3
4,4,4,2007-05-01,428172,3.4,3855103,2.3,379524,-1.0,3833985,2.7
...,...,...,...,...,...,...,...,...,...,...,...
183,183,183,2022-04-01,1026169,19.1,3189948,-1.4,563438,32.1,3416019,0.5
184,184,184,2022-05-01,1602401,20.1,4900141,-1.8,884357,31.2,6399940,3.2
185,185,185,2022-06-01,1529920,18.2,4772903,-2.3,870742,30.8,5447701,4.2
186,186,186,2022-07-01,2118975,14.7,6366354,-4.2,1195583,28.4,8161341,2.4
187,187,187,2022-08-01,2054044,12.4,6142248,-5.2,1198899,26.9,7139832,1.3

In [7]:
num=0
for i in solid_state["수출금액"]:
    
    a = (solid_state["수출금액"][num+1] -  solid_state["수출금액"][num])/solid_state["수출금액"][num]
    solid_state["수출금액증감률"][num] = a*100
    print(solid_state["수출금액증감률"][num])
    num+=1

-2.5044947634434287
123.45605777290605
-21.826649507441758
66.55420868461073
-4.847281382556702
43.354838709677416
-7.041173431422565
28.458322555386996
-9.66690340715827
36.70707241103005
-2.4822562199633778
-74.98395683258164
1.2970824677084274
119.35423465839175
-20.1563433700411
75.50416723943934
-19.47823261669853
42.72595282614413
-14.379939570328377
35.818629401966426
-17.703227767045085
31.59682749852954
-19.25512149071908
-91.29842276931326
46.59249750392241
93.28637035883864
36.378188993818334
38.66926523892838
13.427917376490631
18.889718064609998
12.076901819904466
21.305943600256427
23.62350823194634
13.358402995206072
9.469769176577845
-80.38075192637837
1.2493608482147165
104.24686511415177
-3.7242305915942393
50.189465523089595
5.617430132990908
23.767018881526898
6.541613189850922
23.102922643537564
4.76410025762574
24.886340570533513
-1.5362797033013975
-77.93198650247601
-22.339826968776272
142.82828455021223
-15.63650659374989
66.612438837666
-13.888118908309046
46.52189926021303
-1.8584858980702623
28.148872665671764
1.9909070736923606
19.642642225616814
-1.3453840122157568
-85.97259987450325
-22.447439051666294
124.52263359650071
-23.65219625242854
88.67570049562212
-25.14750468150878
65.93484595033281
-25.563426205675242
55.68022440392707
-21.60226128707504
42.989414069574096
-21.182869485522698
-83.18783671656792
-26.840330877241765
145.35262120240387
-13.183142771393442
70.76967682940428
-1.8297461080346884
41.24150225497891
-1.6977968671997892
29.43338012446761
-4.590528010660152
25.517238703770516
-3.582588699283235
-82.24788905772152
6.0494429095111695
95.23217600081733
-2.1752402881713677
53.659950071326676
-9.710754591081841
45.3302829527855
-6.90258990833396
37.161164070923405
-2.815686953510519
28.77239492025484
-6.914928941426485
-80.72781969191621
-33.74259624876604
176.43635347797746
-17.167736176376465
72.85075233834893
-12.0312205910032
50.898964302191075
-2.000567159682036
32.236143074815416
6.040660858623849
17.722604672158898
0.03177220425144961
-86.72343687964623
-7.929797063190892
136.62612279640706
6.928443632439392
49.76893657707426
6.141050876912982
61.13264499170204
-6.275122436777
30.94067712232232
0.6283073439581391
17.244592960773776
-4.603166646376832
-88.34690788074417
-16.71211698267162
103.12725585232548
-15.829620886164312
65.90768581208438
-4.147239263803681
34.42946274487493
3.2439409756510456
23.80731155761729
5.70086856714013
16.01992179546748
-0.4319751614282179
-83.10789741272173
-12.277275402643266
306.43203513373385
18.744606610888077
78.47830895130969
20.691633059876146
9.884619785081247
-0.5160625468874728
126.94332776933935
-11.55571690072227
50.016779308639
-14.47636142286882
-75.0383488326532
5.956123322270232
84.34961111417562
-6.419981063641979
78.21580696365153
3.6975095763345034
42.47016353976527
3.211795841996924
36.755477001510286
10.374515262695356
26.290868333239604
7.784062852708804
-71.8176147321876
20.052135115874357
87.08709834198571
6.837845994180144
51.51940936590063
4.594753518020336
29.641495024485415
7.026484223132694
19.31267949973745
-0.590378817185907
16.42147188299668
1.6431571836906984
-86.29433546339278
10.80127664320625
107.91021989466634
-5.520795314319481
69.39170642549016
2.048752259724524
40.473082986586725
7.783884344812976
30.877083325488897
-2.8371408788650054
30.234819520838368
-4.755060175842417
-80.84227287925124
9.241421130890574
99.56854368666265
5.036982451434337
46.05915877886576
1.759591971762284
19.534046855001762
3.5112969802302842
20.75943064892601

/tmp/ipykernel_60199/3517379843.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solid_state["수출금액증감률"][num] = a*100

KeyError: 189

In [8]:
solid_state = solid_state.drop(188)
solid_state

,Unnamed: 0.1,Unnamed: 0,Date,수출금액,수출금액증감률,수출중량,수출중량증감률,수입금액,수입금액증감률,수입중량,수입중량증감률
0,0,0,2007-01-01,79537,-2.504495,38165,0.0,82368,0.0,21375,0.0
1,1,1,2007-02-01,77545,123.456058,43949,0.0,69001,0.0,22342,0.0
2,2,2,2007-03-01,173279,-21.826650,83251,0.0,140388,0.0,42285,0.0
3,3,3,2007-04-01,135458,66.554209,75163,0.0,116145,0.0,37539,0.0
4,4,4,2007-05-01,225611,-4.847281,113828,0.0,187030,0.0,57298,0.0
...,...,...,...,...,...,...,...,...,...,...,...
183,183,183,2022-04-01,2756683,46.059159,548808,31.5,406307,37.8,359835,22.9
184,184,184,2022-05-01,4026388,1.759592,889044,28.9,779728,36.6,556095,24.0
185,185,185,2022-06-01,4097236,19.534047,800964,24.6,545085,22.9,522102,20.0
186,186,186,2022-07-01,4897592,3.511297,1093204,20.9,1036143,20.2,738235,16.6
187,187,187,2022-08-01,5069561,20.759431,1014689,15.8,764060,14.5,731503,17.2

In [9]:
num=0
for i in processor_controller["수출금액"]:
    
    a = (processor_controller["수출금액"][num+1] -  processor_controller["수출금액"][num])/processor_controller["수출금액"][num]
    processor_controller["수출금액증감률"][num] = a*100
    print(processor_controller["수출금액증감률"][num])
    num+=1

-14.541848393559247
131.83982284122823
-13.46348105654668
66.38141488690265
-8.12257417537287
45.811477506622985
-5.265687145007065
31.56102983833086
-2.091344767075354
27.93244247666638
-4.51926977279967
-81.24628684541261
-12.831197060848224
120.21895625059686
-8.842614969635076
64.06737987636866
-2.027911928671398
38.79312265463802
-1.7927696479795645
29.31475081171267
-3.5959005221033173
19.368489812660027
-6.216290963769206
-89.32112185565609
-12.99576525743208
142.10566915267503
6.335351500725436
63.22713370629268
2.864928224566531
41.25294561611364
2.4748086517540497
32.57872698706239
2.177135203974593
22.5928330664074
-0.5247699491616663
-83.761550935697
4.407074904356072
113.58968550407063
1.9980074714792966
55.44162891333991
1.9375802107164053
37.68968250932181
1.686413775375829
29.595300197298595
0.7784195378607501
23.424371588063902
0.40628162125149286
-83.00063461808728
-10.621255913839596
135.06647769819784
-10.615355292595032
66.23054081812073
-4.649482357803246
43.79919970424914
-0.5255092975592421
36.878160995386104
-2.195143676477087
25.584285406932946
1.0823971625702522
-81.80077004543776
-3.816881876401643
116.39351785750709
-9.327554110258857
63.66892043127004
-7.9646695711719575
43.802338556244095
-5.564777962125929
36.85733084130673
-1.5277776810780916
27.482328131013524
-3.7685727649363203
-82.67805035768468
-10.088653494983953
114.85867312041633
-14.160534744560497
72.71144010749157
-16.076695765383512
55.324886800993546
-8.790617914400574
44.130323088109684
-7.693375869800898
31.419551169728262
-7.173906442598634
-85.93628401057819
-6.239311421911754
116.59452944157569
-6.3055020669947295
56.764593503449476
-2.598288218664841
31.25936541817344
1.6990533749266148
32.634738249897445
3.9447537796961267
21.16043114263366
3.906125759183661
-82.66788060834165
-14.681860210266773
146.6169714085022
-9.433474214453577
67.83844531032884
-8.613922778781479
39.83573853323779
-4.248712586148028
32.94180298141021
-3.8060568219791673
24.826195759489337
-5.321409958577386
-85.97428799537803
-13.27821904428432
156.76648141946166
-16.3252854701149
69.44944923559233
-6.550085489801813
42.10488181052056
-2.567353424008206
30.43388897660885
-2.888246616668675
23.626041579111575
-3.3397427963835047
-81.80535285142618
-2.4528179493278244
121.23415342886447
-5.053441896151205
64.76883975059623
-5.810929697126607
45.85579474558523
-4.740115359246335
35.87082996566836
-7.055058166276243
29.883782036565236
-6.876633784825746
-81.01282782948293
-14.443063801064628
128.64017786703005
-6.324819971998549
56.71936753378415
-4.882008628359986
40.811081943656916
-2.957142452618359
28.769438851688328
-1.7744857511653853
21.685312878910544
-3.338743478564655
-82.8247538778936
-15.108801945503597
120.74603498396816
-8.724387516210976
55.79775649986898
-3.8824446819331873
42.4158407551988
-1.936805297128684
31.357565591480363
-1.8049620911751452
21.50366216199729
-2.2587828245711092
-80.89863762969249
-7.479091285337878
125.94799704586548
-20.57740530003249
74.20280054457261
-13.067091978456016
54.43609304387365
-6.875771996186253
38.033985368307974
-5.925429709202177
31.218154896763778
-4.505440955026393
-80.11358235164461
-8.178305059222858
114.61588152145671
-5.298446922678448
59.82860954840066
-3.039086336879521
41.8161412239795
0.14202430582645456
31.170659598436718
-0.4419086867216141
24.061603188474585
0.01552485318488416
-80.981152596668
-7.91344265742053
135.43042900567156
-12.541522091730803
65.18230881331016
-3.788008612598686
46.40931095059023
-2.4005576107645465
30.601042161939883

/tmp/ipykernel_60199/4038504845.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processor_controller["수출금액증감률"][num] = a*100

KeyError: 189

In [ ]:
processor_controller = processor_controller.drop(188)
processor_controller

In [10]:
solid_state

,Unnamed: 0.1,Unnamed: 0,Date,수출금액,수출금액증감률,수출중량,수출중량증감률,수입금액,수입금액증감률,수입중량,수입중량증감률
0,0,0,2007-01-01,79537,-2.504495,38165,0.0,82368,0.0,21375,0.0
1,1,1,2007-02-01,77545,123.456058,43949,0.0,69001,0.0,22342,0.0
2,2,2,2007-03-01,173279,-21.826650,83251,0.0,140388,0.0,42285,0.0
3,3,3,2007-04-01,135458,66.554209,75163,0.0,116145,0.0,37539,0.0
4,4,4,2007-05-01,225611,-4.847281,113828,0.0,187030,0.0,57298,0.0
...,...,...,...,...,...,...,...,...,...,...,...
183,183,183,2022-04-01,2756683,46.059159,548808,31.5,406307,37.8,359835,22.9
184,184,184,2022-05-01,4026388,1.759592,889044,28.9,779728,36.6,556095,24.0
185,185,185,2022-06-01,4097236,19.534047,800964,24.6,545085,22.9,522102,20.0
186,186,186,2022-07-01,4897592,3.511297,1093204,20.9,1036143,20.2,738235,16.6
187,187,187,2022-08-01,5069561,20.759431,1014689,15.8,764060,14.5,731503,17.2

In [11]:
cylinder = cylinder.drop(cylinder.columns[[0,1,2,3,5,6,7,8,9,10]], axis=1)

cylinder.head(5)

      수출금액증감률
0   -7.416262
1  133.373075
2   -6.564873
3   60.019269
4   -4.601181

In [12]:
cylinder.head(5)
cylinder.columns = ['cylinderRate']
cylinder.head(5)

   cylinderRate
0     -7.416262
1    133.373075
2     -6.564873
3     60.019269
4     -4.601181

In [13]:
machine_component = machine_component.drop(machine_component.columns[[0,1,2,3,5,6,7,8,9,10]], axis=1)
machine_component.head(5)

   수출금액증감률
0    123.6
1    108.5
2     78.9
3     59.4
4     46.0

In [14]:
machine_component.head(5)
machine_component.columns = ['machine_componentRate']
machine_component.head(5)

   machine_componentRate
0                  123.6
1                  108.5
2                   78.9
3                   59.4
4                   46.0

In [15]:
memory = memory.drop(memory.columns[[0,1,2,3,5,6,7,8,9,10]], axis=1)
memory.head(5)

   수출금액증감률
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0

In [16]:
memory.columns = ['memoryRate']
memory.head(5)

   memoryRate
0         0.0
1         0.0
2         0.0
3         0.0
4         0.0

In [17]:
printed_circuit_board = printed_circuit_board.drop(printed_circuit_board.columns[[0,1,2,3,5,6,7,8,9,10]], axis=1)
printed_circuit_board.head(5)

   수출금액증감률
0     15.3
1      9.2
2      6.1
3      5.6
4      3.4

In [18]:

printed_circuit_board.columns = ['printed_circuit_boardRate']
printed_circuit_board.head(5)

   printed_circuit_boardRate
0                       15.3
1                        9.2
2                        6.1
3                        5.6
4                        3.4

In [19]:
solid_state = solid_state.drop(solid_state.columns[[0,1,2,3,5,6,7,8,9,10]], axis=1)
solid_state.head(5)

      수출금액증감률
0   -2.504495
1  123.456058
2  -21.826650
3   66.554209
4   -4.847281

In [20]:

solid_state.columns = ['solid_stateRate']
solid_state.head(5)

   solid_stateRate
0        -2.504495
1       123.456058
2       -21.826650
3        66.554209
4        -4.847281

In [21]:
processor_controller= processor_controller.drop(processor_controller.columns[[0,1,2,3,5,6,7,8,9,10]], axis=1)
processor_controller.head(5)

      수출금액증감률
0  -14.541848
1  131.839823
2  -13.463481
3   66.381415
4   -8.122574

In [22]:

processor_controller.columns = ['processor_controllerRate']
processor_controller.head(5)

   processor_controllerRate
0                -14.541848
1                131.839823
2                -13.463481
3                 66.381415
4                 -8.122574

In [23]:
cylinder.to_csv('./dataset/cylinder_coverd.csv')
file_path2_1 = './dataset/cylinder_coverd.csv'
cylinder_coverd = pd.read_csv(file_path2_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
cylinder_coverd.columns = ['Num', 'cylinderRate']
cylinder_coverd.head(5)

   Num  cylinderRate
0    0     -7.416262
1    1    133.373075
2    2     -6.564873
3    3     60.019269
4    4     -4.601181

In [24]:

memory.to_csv('./dataset/memory_coverd.csv')
file_path2_1 = './dataset/memory_coverd.csv'
memory_coverd = pd.read_csv(file_path2_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
memory_coverd.columns = ['Num', 'memoryRate']
memory_coverd.head(5)

   Num  memoryRate
0    0         0.0
1    1         0.0
2    2         0.0
3    3         0.0
4    4         0.0

In [25]:

machine_component.to_csv('./dataset/machine_component_coverd.csv')
file_path4_1 = './dataset/machine_component_coverd.csv'
machine_component_coverd = pd.read_csv(file_path4_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
machine_component_coverd.columns = ['Num', 'machine_componentRate']
machine_component_coverd.head(5)

   Num  machine_componentRate
0    0                  123.6
1    1                  108.5
2    2                   78.9
3    3                   59.4
4    4                   46.0

In [26]:
printed_circuit_board.to_csv('./dataset/printed_circuit_board_coverd.csv')
file_path5_1 = './dataset/printed_circuit_board_coverd.csv'
printed_circuit_board_coverd = pd.read_csv(file_path5_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
printed_circuit_board_coverd.columns = ['Num', 'printed_circuit_boardRate']
printed_circuit_board_coverd.head(5)

   Num  printed_circuit_boardRate
0    0                       15.3
1    1                        9.2
2    2                        6.1
3    3                        5.6
4    4                        3.4

In [27]:
solid_state.head(5)
solid_state.to_csv('./dataset/solid_state_coverd.csv')
file_path6_1 = './dataset/solid_state_coverd.csv'
solid_state_coverd = pd.read_csv(file_path6_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
solid_state_coverd.columns = ['Num', 'solid_stateRate']
solid_state_coverd.head(5)

   Num  solid_stateRate
0    0        -2.504495
1    1       123.456058
2    2       -21.826650
3    3        66.554209
4    4        -4.847281

In [28]:
processor_controller.head(5)
processor_controller.to_csv('./dataset/processor_controller_coverd.csv')
file_path7_1 = './dataset/processor_controller_coverd.csv'
processor_controller_coverd = pd.read_csv(file_path7_1) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.
processor_controller_coverd.columns = ['Num', 'processor_controllerRate']
processor_controller_coverd.head(5)

   Num  processor_controllerRate
0    0                -14.541848
1    1                131.839823
2    2                -13.463481
3    3                 66.381415
4    4                 -8.122574

In [29]:
SampleData2=pd.concat([cylinder_coverd,memory_coverd,machine_component_coverd,printed_circuit_board_coverd,solid_state_coverd,processor_controller_coverd], axis=1)
SampleData2 = SampleData2.drop(SampleData2.columns[[0,2,4,6,8,10]], axis=1)
SampleData2.head(5)

,cylinderRate,memoryRate,machine_componentRate,printed_circuit_boardRate,solid_stateRate,processor_controllerRate
0,-7.416262,0.0,123.6,15.3,-2.504495,-14.541848
1,133.373075,0.0,108.5,9.2,123.456058,131.839823
2,-6.564873,0.0,78.9,6.1,-21.826650,-13.463481
3,60.019269,0.0,59.4,5.6,66.554209,66.381415
4,-4.601181,0.0,46.0,3.4,-4.847281,-8.122574

In [30]:
SampleData2.to_csv('./dataset/SampleData2for.csv')

In [31]:
SampleData2

,cylinderRate,memoryRate,machine_componentRate,printed_circuit_boardRate,solid_stateRate,processor_controllerRate
0,-7.416262,0.0,123.6,15.3,-2.504495,-14.541848
1,133.373075,0.0,108.5,9.2,123.456058,131.839823
2,-6.564873,0.0,78.9,6.1,-21.826650,-13.463481
3,60.019269,0.0,59.4,5.6,66.554209,66.381415
4,-4.601181,0.0,46.0,3.4,-4.847281,-8.122574
...,...,...,...,...,...,...
184,-4.953052,17.6,13.3,20.1,1.759592,-3.788009
185,54.500388,14.2,11.8,18.2,19.534047,46.409311
186,-10.260224,10.2,4.0,14.7,3.511297,-2.400558
187,42.701355,5.3,-2.3,12.4,20.759431,30.601042
188,3.200000,1.7,-2.4,NaN,NaN,32.400000

In [32]:
SampleData1=pd.concat([cylinder_coverd,memory_coverd], axis=1)
SampleData1 = SampleData1.drop(SampleData1.columns[[0,2]], axis=1)
SampleData1.head(5)

   cylinderRate  memoryRate
0     -7.416262         0.0
1    133.373075         0.0
2     -6.564873         0.0
3     60.019269         0.0
4     -4.601181         0.0

In [33]:
def old_groups(values):
    if values > 0:
        return 1
    else:
        return 0

In [34]:
SampleData2['cylinderRate'] = SampleData2['cylinderRate'].apply(old_groups)
SampleData2['memoryRate'] = SampleData2['memoryRate'].apply(old_groups)
SampleData2['machine_componentRate'] = SampleData2['machine_componentRate'].apply(old_groups)
SampleData2['printed_circuit_boardRate'] = SampleData2['printed_circuit_boardRate'].apply(old_groups)
SampleData2['solid_stateRate'] = SampleData2['solid_stateRate'].apply(old_groups)
SampleData2['processor_controllerRate'] = SampleData2['processor_controllerRate'].apply(old_groups)

SampleData2.head

<bound method NDFrame.head of      cylinderRate  memoryRate  machine_componentRate  \
0               0           0                      1
1               1           0                      1
2               0           0                      1
3               1           0                      1
4               0           0                      1
..            ...         ...                    ...
184             0           1                      1
185             1           1                      1
186             0           1                      1
187             1           1                      0
188             1           1                      0

     printed_circuit_boardRate  solid_stateRate  processor_controllerRate
0                            1                0                         0
1                            1                1                         1
2                            1                0                         0
3                            1                1                         1
4                            1                0                         0
..                         ...              ...                       ...
184                          1                1                         0
185                          1                1                         1
186                          1                1                         0
187                          1                1                         1
188                          0                0                         1

[189 rows x 6 columns]>

In [35]:
frequent_itemset = apriori(SampleData2,
                           min_support=0.005, 
                           max_len=3, 
                           use_colnames=True, 
                           verbose=1 
                          )
frequent_itemset['length'] = frequent_itemset['itemsets'].map(lambda x: len(x))
frequent_itemset.sort_values('support',ascending=False,inplace=True)
frequent_itemset

Processing 60 combinations | Sampling itemset size 3

/data/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets  length
3   0.671958                        (printed_circuit_boardRate)       1
4   0.624339                                  (solid_stateRate)       1
2   0.613757                            (machine_componentRate)       1
0   0.566138                                     (cylinderRate)       1
1   0.550265                                       (memoryRate)       1
5   0.507937                         (processor_controllerRate)       1
10  0.470899           (cylinderRate, processor_controllerRate)       2
9   0.465608                    (cylinderRate, solid_stateRate)       2
20  0.465608        (processor_controllerRate, solid_stateRate)       2
30  0.455026  (processor_controllerRate, cylinderRate, solid...       3
11  0.444444                (machine_componentRate, memoryRate)       2
15  0.423280  (printed_circuit_boardRate, machine_componentR...       2
18  0.396825       (printed_circuit_boardRate, solid_stateRate)       2
16  0.386243           (solid_stateRate, machine_componentRate)       2
8   0.375661          (cylinderRate, printed_circuit_boardRate)       2
12  0.375661            (printed_circuit_boardRate, memoryRate)       2
7   0.343915              (cylinderRate, machine_componentRate)       2
13  0.338624                      (solid_stateRate, memoryRate)       2
19  0.328042  (printed_circuit_boardRate, processor_controll...       2
17  0.322751  (processor_controllerRate, machine_componentRate)       2
6   0.322751                         (cylinderRate, memoryRate)       2
31  0.306878  (printed_circuit_boardRate, machine_componentR...       3
29  0.306878  (cylinderRate, processor_controllerRate, print...       3
40  0.306878  (processor_controllerRate, printed_circuit_boa...       3
28  0.301587  (cylinderRate, solid_stateRate, printed_circui...       3
14  0.296296             (processor_controllerRate, memoryRate)       2
27  0.291005  (cylinderRate, processor_controllerRate, machi...       3
39  0.291005  (processor_controllerRate, solid_stateRate, ma...       3
26  0.280423  (cylinderRate, solid_stateRate, machine_compon...       3
32  0.269841  (solid_stateRate, machine_componentRate, memor...       3
37  0.264550  (printed_circuit_boardRate, solid_stateRate, m...       3
24  0.264550  (cylinderRate, processor_controllerRate, memor...       3
36  0.259259  (processor_controllerRate, solid_stateRate, me...       3
21  0.259259  (cylinderRate, machine_componentRate, memoryRate)       3
23  0.253968        (cylinderRate, solid_stateRate, memoryRate)       3
33  0.243386  (processor_controllerRate, machine_componentRa...       3
34  0.238095  (printed_circuit_boardRate, solid_stateRate, m...       3
25  0.238095  (cylinderRate, printed_circuit_boardRate, mach...       3
38  0.222222  (printed_circuit_boardRate, processor_controll...       3
22  0.222222  (cylinderRate, printed_circuit_boardRate, memo...       3
35  0.201058  (printed_circuit_boardRate, processor_controll...       3

In [36]:
frequent_itemset.loc[frequent_itemset['length']> 1]

     support                                           itemsets  length
10  0.470899           (cylinderRate, processor_controllerRate)       2
9   0.465608                    (cylinderRate, solid_stateRate)       2
20  0.465608        (processor_controllerRate, solid_stateRate)       2
30  0.455026  (processor_controllerRate, cylinderRate, solid...       3
11  0.444444                (machine_componentRate, memoryRate)       2
15  0.423280  (printed_circuit_boardRate, machine_componentR...       2
18  0.396825       (printed_circuit_boardRate, solid_stateRate)       2
16  0.386243           (solid_stateRate, machine_componentRate)       2
8   0.375661          (cylinderRate, printed_circuit_boardRate)       2
12  0.375661            (printed_circuit_boardRate, memoryRate)       2
7   0.343915              (cylinderRate, machine_componentRate)       2
13  0.338624                      (solid_stateRate, memoryRate)       2
19  0.328042  (printed_circuit_boardRate, processor_controll...       2
17  0.322751  (processor_controllerRate, machine_componentRate)       2
6   0.322751                         (cylinderRate, memoryRate)       2
31  0.306878  (printed_circuit_boardRate, machine_componentR...       3
29  0.306878  (cylinderRate, processor_controllerRate, print...       3
40  0.306878  (processor_controllerRate, printed_circuit_boa...       3
28  0.301587  (cylinderRate, solid_stateRate, printed_circui...       3
14  0.296296             (processor_controllerRate, memoryRate)       2
27  0.291005  (cylinderRate, processor_controllerRate, machi...       3
39  0.291005  (processor_controllerRate, solid_stateRate, ma...       3
26  0.280423  (cylinderRate, solid_stateRate, machine_compon...       3
32  0.269841  (solid_stateRate, machine_componentRate, memor...       3
37  0.264550  (printed_circuit_boardRate, solid_stateRate, m...       3
24  0.264550  (cylinderRate, processor_controllerRate, memor...       3
36  0.259259  (processor_controllerRate, solid_stateRate, me...       3
21  0.259259  (cylinderRate, machine_componentRate, memoryRate)       3
23  0.253968        (cylinderRate, solid_stateRate, memoryRate)       3
33  0.243386  (processor_controllerRate, machine_componentRa...       3
34  0.238095  (printed_circuit_boardRate, solid_stateRate, m...       3
25  0.238095  (cylinderRate, printed_circuit_boardRate, mach...       3
38  0.222222  (printed_circuit_boardRate, processor_controll...       3
22  0.222222  (cylinderRate, printed_circuit_boardRate, memo...       3
35  0.201058  (printed_circuit_boardRate, processor_controll...       3

In [37]:
frequent_itemset.to_csv('./dataset/Apriori_수출(fin).csv')